<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "http://mybatis.org/dtd/mybatis-3-mapper.dtd" "mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.CityDAO">
    <select id="selectByProvince" resultType="City">
        select id,name,code,provinceid as provinceCode from city where provinceid=#{provinceCode}
    </select>
</mapper>
